apiVersion: v1
kind: Service
metadata:
  name: hello-web
  namespace: default
  labels:
    app: hello
    tier: web
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: hello
    tier: web
